.subtitulo {
    color: rgb(255, 255, 255);
}
    body{
        background-color:rgb(58, 166, 255);
    
}

.joy {

    color: rgb(255, 255, 255);
    border-color: aliceblue;
}
    body{
        background-color:rgb(58, 166, 255);
}






